PORT=3000
API_BASE_URL=http://localhost:3000

API_SHORT_URL_KEY=SHA1_KEY
API_SHORT_URL_TOKEN_SECRET=UUID_SECRET
API_SNIPPET_VAULT_KEY=SHA1_KEY
API_SNIPPET_VAULT_TOKEN_SECRET=UUID_SECRET
API_SCREENSHOT_BACKUP_KEY=SHA1_KEY
API_SCREENSHOT_BACKUP_TOKEN_SECRET=UUID_SECRET
API_GNOTES_KEY=SHA1_KEY
API_GNOTES_TOKEN_SECRET=UUID_SECRET
API_GPASS_KEY=SHA1_KEY
API_GPASS_TOKEN_SECRET=UUID_SECRET

SNIPPET_VAULT_GITHUB_CLIENT_ID=1234
SNIPPET_VAULT_GITHUB_CLIENT_SECRET=1234

GEDUMA_AUTH_MONGODB_URI=uri
SHORT_URL_MONGODB_URI=uri
CONFIG_MANAGER_MONGODB_URI=uri
SNIPPET_VAULT_MONGODB_URI=uri
SCREENSHOT_BACKUP_MONGODB_URI=uri
GNOTES_MONGODB_URI=uri
GPASS_MONGODB_URI=uri
GEDUMA_API_MONGODB_URI=uri

UPSTASH_REDIS_REST_URL=url
UPSTASH_REDIS_REST_TOKEN=1234

TELEGRAM_SCREENSHOT_BACKUP_BOT_TOKEN=1234:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

ADMIN_NTFY_TOPIC=geduma-alerts-your-topic
